@reference "../app.css";

.ProseMirror {
    /* heading */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply my-2;
    }

    h1 {
        @apply text-4xl font-bold;
    }

    h2 {
        @apply text-3xl font-bold;
    }

    h3 {
        @apply text-2xl font-bold;
    }

    h4 {
        @apply text-xl font-bold;
    }

    h5 {
        @apply text-lg font-bold;
    }

    h6 {
        @apply text-base font-bold;
    }

    /* list */
    ul[data-type="taskList"] {
        @apply list-none;

        li {
            @apply flex items-center gap-2 mb-1;

            > div {
                @apply flex-1;
            }
        }

        li[data-checked="true"] {
            div {
                @apply line-through text-base-300;
            }
        }
    }
}
