@reference "../app.css";

.ProseMirror {
    h1 {
        @apply text-4xl font-bold;
    }

    h2 {
        @apply text-3xl font-bold;
    }

    h3 {
        @apply text-2xl font-bold;
    }

    h4 {
        @apply text-xl font-bold;
    }

    h5 {
        @apply text-lg font-bold;
    }

    h6 {
        @apply text-base font-bold;
    }


    ul[data-type="taskList"] {
        @apply list-none;

        > li {
            @apply flex items-center gap-2 mb-2;

            > div {
                > p {
                    margin: 0;
                }
            }
        }
    }
}